/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Varela+Round|Roboto|Delius|Parisienne|Open+Sans:400,300,600,400italic,700);


body {
    width: 100%;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    color: #888;
	font-size: 16px;
	line-height: 1.6em;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1{
    font-family: Parisienne, sans-serif;
    margin: 0 0 30px;
    font-size:70px;
    font-weight: 400;
    color: #ff6aaf;
}
h2,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #444;
}
h3{
    font-family: Delius, sans-serif;
    color:#00ad96;
    margin-top: 0px;
}

blockquote {
	font-family: Georgia, arial, sans-serif;
	color: #bbb;
	font-size: 20px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
    color: #ff107f;
}

.lead {
    margin:25px 55px 0 0;
    font-size: 20px;
	font-weight: 600;
    color: #555;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

.light {
    font-weight: 400;
}

img.img-responsive {
	margin-bottom: 20px;
}
.learn-more{
    padding: 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
}
.learn-more:hover{
    background-color: #760061;
}

/* ------- Navigation ------------ */
.navbar-custom {
    padding: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Varela Round, sans-serif;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}
.navbar-custom .navbar-brand i.fa {
    color: #E75926;
}
.navbar-custom .navbar-brand:focus {
    
}
.navbar-custom .navbar-toggle {
    
    font-size: 18px;
    border-radius: 2px;
    padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    
}
.navbar-custom a {
    color: #000;
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    background-color: #fff;
    
    
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    
    background-color: #fff;
}
.navbar-custom .nav li.active {
    
    border-bottom: 5px solid #ff107f;
}
.navbar-custom .nav li.active a {
    
}
.navbar-custom .nav li.active a:hover {
    
}



/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.loading{
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
  margin-top: 15px;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 100px;
    padding-bottom: 110px;
	display:block;
    position:relative;
    z-index:120;
}
.home-section ul{
    list-style: none;
    padding: 0;
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 23px;
}
.home-section li{
    padding-left: 1.3em;
    margin-bottom: 8px;
}
.home-section li:before{
  content: "\f069"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-size: 15px;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.section-heading {
	margin-bottom: 50px;
}

.section-heading h2 {
	font-size: 40px;
	margin-bottom: 10px;
	line-height: 1em;
    font-family: Delius;
}
.section-heading i {
	margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}


.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;	
	background: url(../img/bg1.jpg) no-repeat top center;
	background-size: cover;
}

#intro.intro {
	padding:10px 0 30% 0;
}

.intro .slogan {
	text-align: center;

}

.intro .page-scroll {
	text-align: center;
}


.intro .page-scroll a {
	color: #f400cb;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}
.logo{
  margin:auto;
}


/* ===========================
--- About
============================ */

.icon .fa {
	color: #fff;
}

/* ==========================
--- Gallery
============================= */


.item {
    margin: 10px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}	


/* ===========================
--- Contact
============================ */
#contact i{
    color: #ff107f;
}
#contact span{
    color: #ff107f;   
}
#contact .col-xs-7,.col-xs-5{
    margin-bottom: 25px;
}

.map{
    margin:auto;
    height: auto;
    width: 50%;
}

.form-wrapper {
	background: #fff;
	padding:0 40px;
	 border-radius: 6px;
}


form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	letter-spacing: 1px;
	font-size: 16px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 4px;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
	font-size: 16px;
	margin-bottom: 20px;
	background: #fefefe;
	color: #888;
    padding: 10px 20px;
}

form#contact-form input,form#contact-form select {
	height: 40px;
}

form#contact-form button {
	border-radius: 4px;
	height: 40px;
	text-transform: none;
	font-size: 16px;
	font-weight: 700;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	background: #fff;
}


/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 50px 0 30px;
	
}

footer p {
	color: #f8f8f8;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #ccc;
}

/* ==========================
Parallax
============================= */

#separator {	
	background-image: url(../img/parallax-bg.jpg);
}

#separator .icon {
	margin-bottom: 20px;
}

#separator span {
	color: #fff;
}

#separator:after {	
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: -1;
}

/* ===========================
--- Elements
============================ */

.btn {

    font-weight: 700;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a.btn:hover {
	color: #fff;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #666;
    color: #666;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #999;
    background: #fff;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #999;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


/* Media queries */
@media (max-width:1024px) {
     #intro.intro {
    padding:40% 0 65% 0;
} 
}
@media (max-width:768px) {
	.navbar-header .fa {
		color: #666;
	}
	.navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    #intro.intro {
    padding:45% 0 65% 0;
}   
.home-section{
    padding-top: 80px;
}
    .slogan{
    margin-bottom: 70px;
}

    .navbar .navbar-collapse {
        text-align: center;
    }
	.col-xs-6 {
		margin-bottom: 30px;
	}
}

@media (max-width:480px) {
    #intro.intro {
    padding:50% 0 70% 0;
}   
.home-section{
    padding-top: 80px;
}

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
    .lead {
    margin:20px 0 35px 0;
    font-size: 15px;
    font-weight: 600;
    color: #555;
}
.slogan{
    margin-bottom: 70px;
}
.page-scroll{
    margin:10px;
}
	.page-scroll a {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		font-size: 20px;
	}
	
}